<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Cafetería</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <nav class="menu">
                <a href="#" id="btn-acerca-de">Acerca de</a>
                <a href="#" id="btn-menu">Menú</a>
                <a href="#" id="btn-gale">Galería</a>
                <a href="#" id="btn-ubi">Ubicación</a>
            </nav>
            <div class="textos">
                <h1 class="nombre">Cafetería <span>Cárdenas</span></h1>
                <h3>Establecimiento con 15 años en el mercado dentro de Nuevo León </h3>
            </div>
        </div>
    </header>
    <section class="main">
        <section class="acerca-de" id="acerca-de">
            <div class="contenedor">
                <div class="foto"><img src="img/acerca de.jpg" alt="cafeteria_Cardenas"></div>
                <article>
                    <h3>ACERCA DE</h3>
                    <p>Es un lugar muy chic, que fusiona lo mejor de dos mundos: el café y el cacao. Allí puedes disfrutar ambos en sus bebidas y alimentos.</p>
                    <p>Prueba el tascalatte, el chocolate artesanal, el frappe de horchata o pregunta por las bebidas de temporada con café. Como tip: tienen una terraza muy cool, es pet-friendly y hay lugar privado para juntas de trabajo.</p>
                </article>
            </div>
        </section>

        <section class="menu" id="menu">
            <div class="contenedor">
                <h3 class="titulo" id="platillos">Menú</h3>
                <div class="contenedor-menu">
                    <div class="contenedor-menu2">
                        <article>
                            <p class="categoria">De tomar</p>
                            <div class="platillos">
                                <p class="nombre">Café Expresso</p>
                                <p class="precio">$25.00</p>
                                <p class="descripcion">Café con azucar y nata montada</p>
                            </div>

                            <div class="platillos">
                                <p class="nombre">Chocolate italiano</p>
                                <p class="precio">$35.00</p>
                                <p class="descripcion">Chocolate caliente con limón y nata montada</p>
                            </div>

                            <div class="platillos">
                                <p class="nombre">Té helado de  frutas</p>
                                <p class="precio">$28.00</p>
                                <p class="descripcion">Té verde con hielos y frutas variadas</p>
                            </div>

                            <div class="platillos">
                                <p class="nombre">Jugo de Naranja y pedazos de limón</p>
                                <p class="precio">$17.00</p>
                                <p class="descripcion">Jugo natural de naranja con limón cortado</p>
                            </div>
                        </article>
                        <article>
                            <p class="categoria">De comer</p>
                            <div class="platillos">
                                <p class="nombre">Ensalada</p>
                                <p class="precio">$45.00</p>
                                <p class="descripcion">Variedad de ensaladas frescas con pollo, zanahoria y pepino</p>
                            </div>

                            <div class="platillos">
                                <p class="nombre">Sandwichetas</p>
                                <p class="precio">$22.00</p>
                                <p class="descripcion">Decarnes frias como jamón de pavo o cerdo y ensalada de pollo</p>
                            </div>

                            <div class="platillos">
                                <p class="nombre">Rollos de Sushi</p>
                                <p class="precio">$59.00</p>
                                <p class="descripcion">Aspen, Alaska, Mexicano, Aguacate con arroz, Vegano y Tempura Picante</p>
                            </div>

                            <div class="platillos">
                                <p class="nombre">Wraps</p>
                                <p class="precio">$34.00</p>
                                <p class="descripcion">De pollo con verduras, jamón de pavo o cerdo con queso de cabra</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="galeria" id="galeria">
            <div class="foto"><img src="img/1.jpg" alt="cafe"></div>
            <div class="foto"><img src="img/2.jpg" alt="cafe"></div>
            <div class="foto"><img src="img/3.jpg" alt="cafe"></div>
            <div class="foto"><img src="img/4.jpg" alt="cafe"></div>
            <div class="foto"><img src="img/5.jpg" alt="cafe"></div>
            <div class="foto"><img src="img/6.jpg" alt="cafe"></div>
            <div class="foto"><img src="img/7.jpg" alt="cafe"></div>
            <div class="foto"><img src="img/8.jpeg" alt="cafe"></div>
        </section>

        <section class="ubicacion" id="ubicacion">
            <div class="contenedor">
                <h3 class="titulo">Ubicación</h3>
                <div class="direccion">
                    <p class="calle">1520 Pringstone Lake<br /> Anaheina, Cánada 47520</p>
                    <p class="telefono">(564) 712-6047</p>
                    <p class="correo">correo@correo.com</p>
                </div>

                <div class="horarios">
                    <h4>Horarios</h4>
                    <p class="entre-sema">Lunes a Viernes <br> 8:00am - 9:00pm</p>
                    <p class="fin-sema">Sabados y Domingos <br> 11:00 am - 5:00pm</p>
                </div>
            </div>
        </section>

        <section class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!
            1m3!1d14382.151421677441!2d-100.32607953022458!3d25.686610200000008!
            2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866295d3e4bf25d7%3A0xb9ce50f419d49eb7!2zRWwgY2Fmw6kgZGUgcGFww6E!5e0!3m2!1ses!2smx!4v1586908829906!5m2!1ses!2smx" 
            width="1300" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </section>
    </section>
    <footer>
        <div class="contenedor">
            <div class="copyright">
                <p>Copyright Karla Paulina @ 2020</p>
            </div>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/efectos.js"></script>
    <script src="js/parallax.js"></script>
</body>
</html>