<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Cafetería Cardenas</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <nav class="menu">
                <a href="#" class="menu_btn-inicio">Inicio</a>
                <a href="#" class="menu_btn-carta">Carta</a>
                <a href="#" class="menu_btn-promo">Promociones</a>
                <a href="#" class="menu_btn-local">Locales</a>
                <a href="#" class="menu_btn-blog">Blog</a>
            </nav>
            <div>
                <input type="text" placeholder="Buscar">
                <button>O</button>
            </div>
            <div>
                <span>Monterrey</span>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="textos">
                <h1 class="nombre">Cafetería <span>Cárdenas</span></h1>
                <h3>Establecimiento con 15 años en el mercado dentro de Nuevo León </h3>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor_footer">

        </div>
    </footer>
</body>
</html>